.card {
  width: 25%;
  height: 360px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e2e2;
}

.imageContainer {
  max-height: 65%;
  min-height: 65%;
  padding: 10px;
}

.imageContainer img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.imageTitle {
  padding: 2px 0;
  line-height: 1.2;
}

.actionsBar {
  height: 25%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.bookmarkButton {
  width: 94px;
  height: 28px;
  margin-top: 12px;
  margin-left: 16px;
  /* border: 1px solid white; */
  border-radius: 4px;
  border: none;
  background-color: #0086ff;
  color: white;
  cursor: pointer;
}
