header {
  width: 100%;
  height: 52px;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

header h1 {
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

header .btn {
  margin-left: auto;
  margin-right: 40px;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  background: transparent;
}

main {
  width: 100%;
  display: flex;
  margin-top: 52px;
  overflow-y: auto;
}

.contentBox {
  width: 100%;
  /* height: 1400px; */
  margin-left: 64px;
  display: flex;
  flex-direction: column;
}

footer {
  height: 40px;
  display: flex;
  position: sticky;
  margin-top: auto;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

footer .text {
  margin: auto;
}
