.searchBox {
  width: 100%;
  margin: 0 auto;
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
}

.searchBox .searchInput {
  width: 90%;
  height: 22px;
  margin: auto;
  padding: 12px 10px;
  font-size: 1rem;
}

.resultsBox {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}
